{% extends 'index.html' %}
{% load static%}
{% block title %}Dashboard
{% endblock title %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/Administrador/TapBarFormularios.css' %}">
<link rel="stylesheet" href="{% static 'styles/Administrador/form_admin.css' %}">

<div class="tab">
    <div class="contenedor">
    
    <div class="center">

        <form method="post">
            {% csrf_token %}
            <div class="titulo">
            <h1>Registrar Veterinario</h1>    
            </div>
            {% if messages %}
            <div class="mensaje_exitoso">
                {% for m in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
                {% endfor %}
            </div>
            {% endif %}
            <div class="campos">
                <div class="c1">
                    <div class="espacio">
                        <label>Cedula</label>
                        {{ form.cedula }}
                    </div>
                    
                    <div class="espacio">
                        <label>Nombre</label>
                        {{ form.nombre }}
                    </div>
                    
                    <div class="espacio">
                        <label>Apellidos</label>
                        {{ form.apellidos }}
                    </div>

                    <div class="espacio">
                        <label>Titulo</label>
                        {{ form.titulo }}
                    </div>
                </div>
                <div class="c1">
                    <div class="espacio">
                        <label>Edad</label>
                        {{ form.edad }}
                    </div>
                    
                    <div class="espacio">
                        <label>Sexo</label>
                        {{ form.sexo }}
                    </div>
                    
                    <div class="espacio">
                        <label>Telefono</label>
                        {{ form.telefono }}
                    </div>
                    
                    
                </div>
            </div>
            <div class="campos">
                <div class="c1">
                        <div class="espacio">
                            <label>Correo Electronico</label>
                            {{ form.correo }}
                        </div>
                        <div class="espacio">
                            <label>Contraseña</label>
                            {{ form.password1 }}
                        </div>
                        <div class="espacio">
                            <label>Repetir Contraseña</label>
                            {{ form.password2 }}
                        </div>
                        <div class="espacio">
                        <label>Fecha Ingreso</label>
                        {{ form.fecha_ingreso }}
                        </div>

                        {% if form.errors %}
                        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        <script src="/static/scripts/sweetAlert.js"></script>
                        {% endif %}

                        {% if form.non_field_errors %}
                        <div class="alertA">
                            <img id="alet" src="/static/assets/alert.png"><h4 id="mensajeA">{{ form.non_field_errors }}</h4>
                        
                        </div>
                        {% endif %}
                </div>  
                <div class="c2">
                        <button class="boton" type="submit"> Registrar</button>
                </div>
            </div>
        </form>
        
    </div>
</div>
</div>

{% endblock content %}