{% load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Form_veterinario</title>

    <link rel="stylesheet" href="{% static 'styles/Administrador/Form_veterinario.css' %}">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/Administrador/form_ventas.css' %}">

</head>
<body>
    <div class="contenedor">
        
        <div class="center">

            <form action="">
                <div class="content-titulo">
                <span class="icono material-icons-sharp">
                shopping_cart
                </span>
                <h1 class="titulo">Registrar Usuario Ventas</h1>    
                </div>

                <div class="campos">
                    <div class="c1">
                        <div class="espacio">
                            <label>Cedula</label>
                            <input type="text" name="name[]" id="TextId">
                        </div>
                        
                        <div class="espacio">
                            <label>Nombre</label>
                            <input type="text" name="name[]" id="TextId">    
                        </div>
                        
                        <div class="espacio">
                            <label>Apellido</label>
                            <input type="text" name="name[]" id="TextId">
                        </div>
                    </div>
                    <div class="c1">
                        <div class="espacio">
                            <label>Edad</label>
                            <input type="text" name="name[]" id="TextId">
                        </div>
                        
                        <div class="espacio">
                            <label>Sexo</label>
                            <select name="select">
                                <option value="value1">Masculino</option>
                                <option value="value2" selected>Femenino</option>
                            </select>  
                        </div>
                        
                        <div class="espacio">
                            <label>Telefono</label>
                            <input type="text" name="name[]" id="TextId">
                        </div>
                        
                        
                    </div>
                </div>
                <div class="campos">
                    <div class="c1">
                            <div class="espacio">
                                <label>Nombre Usuario</label>
                                <input type="text" name="name[]" id="TextId">
                            </div>
                            <div class="espacio">
                                <label>Correo Electronico</label>
                                <input type="text" name="name[]" id="TextId">    
                            </div>
                            <div class="espacio">
                                <label>Contrasena</label>
                                <input type="password" name="name[]" id="TextId">
                            </div>
                            <div class="espacio">
                                <label>Fecha Ingreso</label>
                                <input type="date" name="name[]" id="FechaIngreso">
                            </div>
                    </div>  
                    <div class="c2">
                        <button class="boton"> Registrar</button>
                    </div>
                </div>
                
            </form>
            
        </div>
    </div>
</body>
</html>