{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/assets/logo.png">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <!--Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<div class="container">
    <aside>
        <div class="top">
            <div class="logo">
                <img class="logo" src="/static/assets/logo.png" alt="">
                <h2 class="title">VETERINARIA</h2>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
        </div>
        <div class="sidebar">
            <a href="{% url 'veterinaria_app:home' %}">
                <span class="material-icons-sharp">
                    grid_view
                </span>
                <h3>Inicio</h3>
            </a>
            <a href="{% url 'veterinaria_app:resgistrarUsuario' %}" class="historial">
                <span class="material-icons-sharp">
                    app_registration
                </span>
                <h3>Registrar Usuario</h3>
            </a>
            <a href="#" class="datos">
                <span class="material-icons-sharp">
                    person
                </span>
                <h3>Tabla Usuarios</h3>
            </a>
            <a href="#" class="active">
                <span class="material-icons-sharp">
                    person
                </span>
                <h3>Clientes activos</h3>
            </a>
        </div>
    </aside>
    <!--MAIN-->
    <main>
        <div class="insights">
            <div class="sales">
                {% block content %}
                {% endblock content %}    
            </div>
        </div>
    </main>
    <!--FINAL de MAIN-->
    <div class="right">
        <div class="top">
            <button id="menu-btm">
                <span class="material-icons-sharp">
                    menu
                </span>
            </button>         
            <div class="theme-toggler">
                <span class="material-icons-sharp active">
                    light_mode
                </span>
                <span class="material-icons-sharp dark">
                    dark_mode
                </span>
            </div>
            <div class="profile">
                <div class="info">
                    <p>Hola,<b class="user"> Admin</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    <img src="/static/assets/user.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'scripts/home.js' %}"></script>
</body>
</html>