{% extends 'index.html' %}
{% load static%}
{% block title %}Dashboard
{% endblock title %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/Administrador/botones.css' %}">
<div class="contenedor">

        <div class="contenedor-botones">
            <a href="{% url 'user_app:registrar-vendedor' %}" class="boton"><b>Registrar Vendedor</b></a>
            <a href="{% url 'user_app:registrar-veterinario' %}" class="boton"><b>Registrar Veterinario</b></a>
            <a href="{% url 'user_app:registrar-admin' %}" class="boton"><b>Registrar Administrador</b></a>
        </div>
    </div>

{% endblock content %}