{% extends 'index.html' %}
{% load static%}
{% block title %}Dashboard
{% endblock title %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/Administrador/botones.css' %}">
<div class="contenedor">

        <div class="contenedor-botones">
            <a href="{% url 'user_app:registrarUsuariosHome' %}" class="boton">Registrar Usuario</a>
            <a href="{% url 'user_app:homeListado' %}" class="boton">Ver Tablas Usuarios</a>
            <a href="{% url 'user_app:reporteUsuarios' %}" class="boton">Reporte Usuario</a>
        </div>
    </div>

{% endblock content %}