{% extends 'index.html' %}
{% load static%}
{% block title %}Dashboard
{% endblock title %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/Administrador/botones.css' %}">
<div class="contenedor">

        <div class="contenedor-botones">
            <a href="{% url 'user_app:verAdmins' %}" class="boton"><b>Listado administradores</b></a>
            <a href="{% url 'user_app:verVendedor' %}" class="boton"><b>Listado Vendedores</b></a>
            <a href="{% url 'user_app:verVeterinario' %}" class="boton"><b>Listado Veterinarios</b></a>
        </div>
    </div>

{% endblock content %}