{% extends 'index.html' %}
{% load static%}
{% block title %}Dashboard
{% endblock title %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/Administrador/botones.css' %}">
<div class="contenedor">

        <div class="contenedor-botones">
            <a href="{% url 'user_app:verAdmins' %}" class="boton">Listado administradores</a>
            <a href="#" class="boton">Listado Vendedores</a>
            <a href="#" class="boton">Listado Veterinarios</a>
        </div>
    </div>

{% endblock content %}