{% extends 'index.html' %}
{% load static%}
{% block title %}Dashboard
{% endblock title %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/Administrador/botones.css' %}">
<div class="contenedor">

        <div class="contenedor-botones">
            <a class="boton">Reporte 10 productos mas Vendidos</a>
            <a class="boton">Reporte clientes con mayor facturacion</a>
            <a class="boton">Reporte ventas por rango de fechas</a>
        </div>
    </div>

{% endblock content %}