{% extends 'index.html' %}
{% load static%}
{% block title %}Dashboard
{% endblock title %}
{% block content %}

<link rel="stylesheet" href="{% static 'styles/Administrador/botones.css' %}">
<div class="contenedor">

        <div class="contenedor-botones">
            <a href="{% url 'ventas_app:reporteUnoPDF' %}" class="boton"><b>Reporte 10 productos mas vendidos</b></a>
            <a href="{% url 'ventas_app:reporteDosPDF' %}" class="boton"><b>Reporte clientes con mayor facturacion</b></a>
            <a href="{% url 'ventas_app:reporteTres' %}" class="boton"><b>Reporte ventas por rango de fechas</b></a>
        </div>
    </div>

{% endblock content %}