{% extends 'index.html' %}
{% load static%}
{% block title %}Dashboard
{% endblock title %}
{% block content %}
<!-- <link rel="stylesheet" href="{% static 'styles/historial.css' %}"> --> 
<link rel="stylesheet" href="/static/styles/detailView.css">

<script src="https://kit.fontawesome.com/7fed639e7f.js" crossorigin="anonymous"></script>
    <section class="header">
      <h2 class="ventas">Historial Clinico De {{ historialclinico.mascota }}</h2>
      <div class="content-fondo">
        <div class="formulario">
            <form method="post">
                {% csrf_token %} 

                <div id="formularioHistorial">
                    <h3>1.Datos de la mascota y veterinario:</h3>
                    <div class="campo1">
                        <label>Nombre mascota:</label>
                        {{ historialclinico.mascota }}
                        
                    </div>
                    
                    
                    <div class="campo2">
                        <label>Veterinario:</label>
                        {{ historialclinico.veterinario }}
                    </div>
                    
                    <h3 class="separador">2. Anamnesis:</h3>
                    <div class="areatext">
                      {{ historialclinico.anamnesis }}
                    </div>
                    
                    <div class="campo3">
                        <label>Vacunas:</label>
                        {{ historialclinico.vacunas }}
                    </div>
                    
                    <h3 class="separador">3. Examen fisico:</h3>
                    <div class="areatext">
                        {{ historialclinico.examen_fisico }}
                    </div>

                    <div class="campo4">
                        <label>Peso:</label>
                        {{ historialclinico.peso }}
                    </div>

                    <div class="campo4">
                        <label>Temperatura:</label>
                        {{ historialclinico.temperatura }}
                    </div>

                    <div class="campo4">
                        <label>Frecuencia cardiaca:</label>
                        {{ historialclinico.frecuencia_cardiaca }}
                    </div>

                    <h3 class="separador">4. Detalles de la visita:</h3>
                    <div class="areatext">
                        {{ historialclinico.detalles_visita }}
                    </div>

                    <h3 class="separador">5. Diagnostico:</h3>
                    <div class="areatext">
                        {{ historialclinico.diagnostico }}
                    </div>

                    <h3 class="separador">6. Patología:</h3>
                    <div class="areatext">
                        {{ historialclinico.patologia }}
                    </div>

                    <h3 class="separador">7. Tratamiento:</h3>
                    <div class="areatext">
                        {{ historialclinico.tratamiento }}
                    </div>
                </div>

                {% for i in form.errors %} {{i}} {% endfor %} 
                {% if form.errors %}
                <p>error!</p>
                {% endif %}

            
            </form>
        </div>

    </div>
    </section>
    
    
{% endblock content %}