{% extends 'index.html' %}
{% load static%}
{% block title %}Formulario Clientes/Responsables{% endblock title %}
{% block content %}
<link rel="stylesheet" href="/static/styles/formulario-clientes.css">
<body>
        <div class="content-fondo">
            <div class="formulario">
                <form method="post">
                    <h2 class="titulo">Registrar Cliente/Responsable</h2><br>
                    
                    {% if messages %}
                    <div class="mensaje_exitoso">
                        {% for m in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ m }}</li>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% csrf_token %} 

                    <div id="formularioClienteResponsable">

                        <div class="campo">
                            <label>Nombres</label>
                            {{ form.nombre }}
                        </div>
                        
                        
                        <div class="campo">
                            <label>Apellidos</label>
                            {{ form.apellidos }}
                        </div>
                        
                        <div class="campo">
                            <label>Cedula</label>
                            {{ form.cedula }}
                        </div>
                        
                        <div class="campo">
                            <label>Dirección</label>
                            {{ form.direccion }}
                        </div>
                        
                        <div class="campo">
                            <label>Telefono</label>
                            {{ form.telefono }}
                        </div>
                        <div class="campo">
                            <label>Edad</label>
                            {{ form.edad }}
                        </div>
                        <div class="campo">
                            <label>Sexo</label>
                            {{ form.sexo }}
                        </div>
                        
                    </div>

                    
                    {% if form.errors %}
                    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                        <script src="/static/scripts/sweetAlert.js"></script>
                    {% endif %}
                    <button type="submit" class="btn">Guardar</button>

                    {% if form.non_field_errors %}
                    <div class="alertE" role="alert">
                    <img id="alet" src="/static/assets/alert.png"><h4 id="mensajeE">{{ form.non_field_errors }}</h4>
                    
                    
                    </div>
                    {% endif %}

                    
                </form>
            </div>

            <div class="imagen-content">
                <img class = "imagen" src="/static/assets/responsable.png">
            </div>
        </div>
</body>
<script src="{% static 'scripts/formulariosVenta.js' %}"></script>
{% endblock content %}


