{% extends 'index.html' %}
{% load static%}
{% block title %}Historial Clinico{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/inicio-historial.css' %}">

<a class="gestion" href="{% url 'veterinaria_app:cliente-responsable' %}"><b>Gestionar Clientes/Responsables</b></a>
<a class="gestion" href="{% url 'veterinaria_app:mascotas' %}"><b>Gestionar Mascotas/Pacientes</b></a>
<a class="gestion" href="{% url 'veterinaria_app:historial' %}"><b>Gestionar Historial Clinico</b></a>

{% endblock content %}