{% extends 'index.html' %}
{% load static%}
{% block title %}Mascotas{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/mascotas.css' %}">
<script src="https://kit.fontawesome.com/7fed639e7f.js" crossorigin="anonymous"></script>
    <section class="header">
      <h2 class="mascotas">Mascotas</h2>
       <nav class="btn">
            <a class="agregar" href="{% url 'veterinaria_app:formulario-mascota' %}"><i class="fa-solid fa-plus"></i>Agregar</a>
        </nav>
    </section>
    <form method="get">
        <div class="buscar">
            {% csrf_token %}
            <input type="text" name="kword" class="t" id="kword" placeholder="Ingrese la cedula">
            <button class="lupa" type="submit"><img src="/static/assets/lupa.png"></button> 
          </div>
        </form>
        <br>
        <br>
    <table>
        <thead>

            <tr class="propiedad">
                <th>Nombre</th>
                <th>Raza</th>
                <th>Especie</th>
                <th>Sexo</th>
                <th>Edad</th>
                <th>Color</th>
                <th>¿Castrado?</th>
                <th>Estado</th>
                <th>Cedula/Responsable</th>
            </tr> 
        </thead>
        <tbody>    
        {% for m in object_list %}
        <tr id="valores">
            <td>{{ m.nombre|truncatechars:20 }}</td>
            <td>{{ m.raza|truncatechars:20 }}</td>
            <td>{{ m.especie|truncatechars:20 }}</td>
            <td>{{ m.sexo|truncatechars:20 }}</td>
            <td>{{ m.edad|truncatechars:20 }}</td>
            <td>{{ m.color|truncatechars:20 }}</td>
            <td>
                {% if m.castrado == True %}
                    <p>Si</p>
                {% else %}
                <p>No</p>
                {% endif %}
            </td>
            <td>{{ m.estado|truncatechars:20 }}</td>
            <td>{{ m.duenio|truncatechars:40 }}</td>
        </tr>


        {% empty %}
                <div class="alert">
                  <span span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  No se han encontrado resultados.
                </div>
        {% endfor %}
            
        </tbody>
    </table>
    <script src="{% static 'scripts/ventas.js' %}"></script>


 <!-- inicio de bloque de paginacion -->
 <div class="center">

    <div class="pagination">
    
        {% if is_paginated %}
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}"><b>&laquo;</b></a>  
        {% endif %}
        
        {% for pagina in paginator.page_range %}
        {% if pagina == page_obj.number  %}
        <a class="active" href="?page={{ pagina }}"><b>{{ pagina }}</b></a>
        {% else %}
        <a href="?page={{ pagina }}"><b>{{ pagina }}</b></a> 
        {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}"><b>&raquo;</b></a>   
        {% endif %}
        
        {% endif %}
        
      </div>
  </div>
    <!-- FIN bloque de paginacion -->
    
{% endblock content %}