

.boton {
    border-radius: 1.2rem;
    background-color: rgba(132,139,200,0.18);
    display: block;
    margin: 10px;
    padding: 70px;
    text-align: center;
    font-size: 20px;
}

.boton:hover{
    background-color: #7380ec;
    color: white;
}