
/*------------- Titulo Registrar --------------------*/
.content-titulo
{

    display: flex;
    justify-content: left;

    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 120px;
    
}

/*
.icono{
    /*border: 1px  black solid;*/
    /*
    font-size: 100px;
    color: #363949;
    padding-top: 20px;
}*/
.titulo
{
    color: #363949;
    
    padding-left: 50px;
    padding-top: 60px;
    /*border: 1px  black solid;*/
    height: 150px;
}
.titulo h1{
    font-size: 32px;
}
/* ---------------centrar las celdas de los campos---------- */
.center{

    /*background-color: rgb(154, 243, 37);*/
    /*border: 1px solid black;*/
    display: flex;
    justify-content: center;

    width: 1400px;
    height:700px;

    margin-left:0px;
}


.campos{

    /*border: 1px black solid;*/
    
    margin-left: 0px;
    /*background-color: red;*/

    display: inline-flex;
    justify-content: center;
}

.c1{
    margin-top: 0px;
    padding-top:5px;
    
    width:650px;
    height: 200px;
    
    /*border: 1px black solid;*/
    /* background-color: yellow;*/
}
/* ---------------celda con el boton registrar---------- */
.c2{
    width:650px;
    height: 200px;
    
    /*border: 1px black solid;*/
    /*background-color: yellow;*/
    
}
.c2 button
{
    margin-top: 150px;
    margin-left:235px;

    border-radius: 5px;
    font-size: 18px;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    background-color: #553CFB;
    color: aliceblue;
    border: 0px ;

}

/* ---------------contenedor con los Textos e Inputs/Entradas/Campos---------- */
.espacio
{
    height: 50px; /*ancho*/
    width: 500px ;


    /*border: 1px black solid;*/
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-right: 0px;
    display: flex;
    justify-content: left;
}

label{
    color: #757575;
    text-align: left;
    font-size: 18px;
    
    
    padding-top: 10px;

    margin-top: 0px;
    margin-right: 20px;
    /*margin-bottom: 40px; */
    height: 40px;
    width: 200px;

    /*ver limites*/
    /*border: 1px black solid;*/


}
input
{
    /*padding-left: s0px;*/
    width: 320px;
    height: 40px;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 18px;
    border: 1px solid #A2ABC2;
}

select{
    
    width: 320px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    font-size: 18px;
    border: 1px solid #A2ABC2;
    font-family: 'Poppins', sans-serif;

}

/* ---------------Boton Registrar---------- */
.boton
{
    
    height: 50px; /*alto*/
    width: 300px; /*ancho*/
    
    border: 3px solid rgb(0, 34, 109);
    border-radius: 10px;
    background-color: white;
    font-family: 'Roboto', Times, serif;
    font-size: 24px;

    
}

.boton:hover
{
    color: white;
	background: rgb(69, 32, 235);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

