{% extends 'index.html' %}
{% load static%}
{% block title %}Dashboard
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="/static/styles/formulario.css">
<body>
        <div class="content-fondo">
            <div class="formulario">
                <form action="/page" method="post">
                    <ul>
                        <l>
                            <h2 class="titulo">Registra tu Producto</h2>
                        </l> 
                    <li class="campo">
                        <label for="name">Nombre</label>
                        <input  class="espacio-nombre" type="text" id="name" name="user_name">
                    </li>
                    <li class="campo">
                        <label for="mail">Descripcion</label>
                        <input class="espacio-descripcion" type="email" id="mail" name="user_mail">
                    </li >
                    <li class="campo">
                        <label for="precio">Precio</label>
                        <input class="espacio-precio" type="email" id="mail" name="user_mail">
                    </li>
                    <li class="campo">
                        <label for="iva">iva</label>
                        <input class="espacio-iva" type="email" id="mail" name="user_mail">
                    </li>
                    <li class="campo">
                        <label for="stock">Stock</label>
                        <input class="espacio-stock" type="email" id="stock" name="user_mail">
                    </li>
                    <li>
                        <button type="submit" class="btn">Guardar</button>
                    </li>
                </ul>
            </form>


            </div>
            <div class="imagen-content">
                <img class = "imagen" src="/static/assets/pet.png">
            </div>
        </div>
</body>

{% endblock content %}