{% extends 'index.html' %}
{% load static%}
{% block title %}Modificar Producto{% endblock title %}
{% block content %}
<link rel="stylesheet" href="/static/styles/Administrador/reporteRangoFechas.css">
<h1>Lista de pedidos por fecha</h1>

<p>
    <form action="" method="get">
        {% csrf_token %}
        <label class="desde" >
            Desde:
            <input type="date" name="fecha1" id="fecha1">
        </label>
        <br>
        <label class="hasta">
            Hasta:
            <input type="date" name="fecha2" id="fecha2">
        </label>
        <br>

        <button type="submit">Consultar</button>
    </form>
</p>

<ul>
    {% for f in fechas %}
      <li>{{ f.pedido_por }} - {{ f.creado_el }}</li>
    {% endfor %}
</ul>

{% endblock content %}

    