<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tabla-venta</title>
    <link rel="stylesheet" href="../PROYECTO VETERINARIA/estilo-tabla.css">
</head>
<body>
    <h1>VETERINARIA</h1>
    <table>
        <tr>
          <th>ANIMAL</th>
          <th>PROTETARIO</th>
          <th>PRECIO</th>
          <th>N° FACTURA</th>
        </tr>
      
        <tr>
          <td>gato</td>
          <td>Sancho</td>
          <td>1'200.000</td>
          <td>0000111100000</td>
        </tr>
      
        <tr>
          <td>perro</td>
          <td>Dagoberto</td>     
          <td>500.000</td>
          <td>0000122000000</td>
        </tr>
      
        <tr>     
          <td>conejo</td>
          <td>Clementina</td>     
          <td>800.000</td>     
          <td>0000222200000</td>
        </tr>
      
      </table>
</body>
</html>