<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TABLA</title>
    <link rel="stylesheet" href="../PROYECTO VETERINARIA/estilo-tabla.css">
</head>
<body>
    <h1>VETERINARIA</h1>
    <table>
        <tr>
          <th>ANIMAL</th>
          <th>EDAD</th>
          <th>ENFERMEDAD</th>
        </tr>
      
        <tr>
          <td>gato</td>
          <td>11 años</td>
          <td>cancer</td>
        </tr>
      
        <tr>
          <td>perro</td>
          <td>12años</td>     
          <td>fractura</td>
        </tr>
      
        <tr>     
          <td>conejo</td>
          <td>2 años</td>     
          <td>fractura</td>     
        </tr>
      
      </table>
</body>
</html>