{% extends 'index.html' %}
{% load static%}
{% block title %}Modificar Producto{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/update_venta.css' %}">
          <body>
            <div class="content-fondo">
              <div class="formulario">
                <form method="post">
                  <h2 class="titulo">Modificar Producto</h2>
                  {% csrf_token %}
          
                  <div id="formularioVentas">

                    <div class="campo">
                      <label>Identificacion</label>
                      {{ form.identificacion }}
                    </div>
          
                    <div class="campo">
                      <label>Nombre</label>
                      {{ form.nombre }}
                    </div>
                      
                      
                    <div class="campo">
                      <label id="descripcion">Descripcion</label>
                      {{ form.descripcion }}
                    </div>
                      
                    <div class="campo">
                      <label>Precio</label>
                      {{ form.precio }}
                    </div>
                      
                    <div class="campo">
                      <label>iva</label>
                      {{ form.iva }}
                    </div>
                  
                  <div class="campo">
                      <label>Stock</label>
                      {{ form.stock }}
                  </div>
                  
                  <div class="campo">
                      <label>Vendedor</label>
                      {{ form.vendedor }}
                  </div>
              </div>
          
                  <button type="submit" class="btn">Actualizar</button>

                  {% if form.errors %}
                            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            <script src="/static/scripts/sweetAlert.js"></script>
                            <div class="alertE" role="alert">
                            <img id="alet" src="/static/assets/alert.png"><h4 id="mensajeE">{% for i in form.errors %} {{i}} {% endfor %}</h4> 
                          </div>
                  {% endif %}

                </form>
              </div>
              <div class="imagen-content">
                <img class="imagen" src="/static/assets/pet.png" />
              </div>
            </div>
          </body>
          <script src="{% static 'scripts/formulariosVenta.js' %}"></script>
          
                <button type="submit"></button>
            </form>

{% endblock content %}

    