{% extends 'index.html' %}
{% load static%}
{% block title %}Dashboard
{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/ventas.css' %}">
  <script src="https://kit.fontawesome.com/7fed639e7f.js" crossorigin="anonymous"></script>
    <section class="header">
      <h2 class="ventas">Inventario</h2>
       <nav class="btn">
          <a class="agregar" href="{% url 'ventas_app:MiCarro' %}"><i class="fa-solid fa-cart-arrow-down"></i>Carro</a>
          <a class="agregar" href="{% url 'ventas_app:formulario' %}"><i class="fa-solid fa-plus"></i>Agregar</a>
        </nav>
    </section>
    <form method="get">
    <div class="buscar">
        {% csrf_token %}
        <input type="text" name="kword" class="t" id="kword" placeholder="Ingrese el nombre">
        <button class="lupa" type="submit"><img src="/static/assets/lupa.png"></button> 
      </div>
    </form>
    <br>
    <br>
     <table>
       <thead>
         <tr class="propiedad">
           <th>Identificacion</th>
           <th>Nombre</th>
           <th>Descripcion</th>
           <th>Precio</th>
           <th>Iva</th>
           <th>Stock</th>
           <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          
          {% for p in object_list %}
          <tr id="valores">
            <td>{{ p.identificacion|truncatechars:30 }}</td>
            <td>{{ p.nombre|truncatechars:30 }}</td>
            <td>{{ p.descripcion|truncatechars:30 }}</td>
            <td>{{ p.precio|truncatechars:20 }}</td>
            <td>{{ p.iva|truncatechars:20 }}</td>
            <td>{{ p.stock|truncatechars:20 }}</td>
            <td>
              <a class="fa-solid fa-crop" href="{% url 'ventas_app:update' p.id %}"></a>
              <a class="fa-regular fa-trash-can" href="javascript:abrir()"></a>
              <a class="fa-solid fa-cart-shopping" href="{% url 'ventas_app:agregarCarro' p.id %}"></a>
            </td>
          </tr>
          
          
            <div class="Ventanae" id="elimi">
              <form action="{% url 'ventas_app:delete' p.id %}" method="post">
                {% csrf_token %}
                <h3>¿Quiere eliminar este producto? </h3>
                <h3>{{ p.nombre }}</h3>
                <h3>confirme que desea realizar</p>
                  <br>
                  <button type="submit" id="Confirmar">Confirmar</button>
                </form>
                <button id="cancelar" onclick="cerrar()"> Cancelar</button>
            </div>

            {% empty %}
                <div class="alert">
                  <span span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  No se han encontrado resultados.
                </div>

            
          {% endfor %}
        </tbody>
      </table>
      <script src="{% static 'scripts/ventas.js' %}"></script>

      <!-- inicio de bloque de paginacion -->
<div class="center">

  <div class="pagination">
    
    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <a href="?page={{ page_obj.previous_page_number }}"><b>&laquo;</b></a>  
    {% endif %}
    
    {% for pagina in paginator.page_range %}
    {% if pagina == page_obj.number  %}
    <a class="active" href="?page={{ pagina }}"><b>{{ pagina }}</b></a>
    {% else %}
    <a href="?page={{ pagina }}"><b>{{ pagina }}</b></a> 
    {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"><b>&raquo;</b></a>   
    {% endif %}
    
    {% endif %}
    
  </div>
</div>
  <!-- FIN bloque de paginacion -->
  
  
  
{% endblock content %}
      