{% load static %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
<!--Material Icons-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
<div class="container">
    <aside>
        <div class="top">
            <div class="logo">
                <img src="/static/assets/logo.png" alt="">
                <h2 class="title">VETERINARIA</h2>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
        </div>

        <div class="sidebar">
            <a href="#">
                <span class="material-icons-sharp">
                    grid_view
                </span>
                <h3>Inicio</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    history
                </span>
                <h3>Historial clinico</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    show_chart
                </span>
                <h3>Datos sistema</h3>
            </a>
            <a href="#" class="active">
                <span class="material-icons-sharp">
                    person
                </span>
                <h3>Clientes activos</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    pets
                </span>
                <h3>Mascotas activas</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    event_available
                </span>
                <h3>Citas</h3>
            </a>
            <a href="#">
                <span class="material-icons-sharp">
                    medical_services
                </span>
                <h3>Medicinas</h3>
            </a>
            <a href="#" class="btn-ventas">
                <span class="material-icons-sharp">
                    shopping_cart
                </span>
                <h3>Ventas</h3>
            </a>


            <a href="#">
                <span class="material-icons-sharp">
                    logout
                </span>
                <h3>Logout</h3>
            </a>
        </div>
    </aside>
    <!--MAIN-->
    <main>
        <h1>Dashboard</h1>
        <div class="date">
            <input type="date">
        </div>
        <div class="insights">
            <div class="sales">
                <!--<span class="material-icons-Sharp">
                    analytics
                </span>
                <div class="middle">
                    <div class="lef">
                        <h3>Total Ventas</h3>
                        <h1>$35,989</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx='38' cy='38' r='36'>
                            </circle>
                        </svg>
                        <div class="number">
                            <p>81%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">
                Ultimas 24 Horas
                </small>
                Tarjeta de ventas-->
                <div class="descripcionG">
                    <h3 class="descripcion">El sistema veterinaria te da la bienvenida y pone a tu disposición el mejor servicio veterinario,
                        encontraras servicios como asesorías preventivas, consulta general y especializada, cirugías,
                        imagenologia (radiografías, ecografías), servicio de urgencias, hospitalización y todos los
                        servicios que tu mascota requiera, brindando calidad y la más excelente atención, porque el
                        bienestar de tu mascota es nuestra prioridad.​
                    </h3>
                </div>
                <br>
                <div class="imagen">
                    <img src="/static/assets/logo.png" alt="" class="logo-img">
                </div>
                
            </div>
            <!--
            <div class="expenses">
                <span class="material-icons-Sharp">
                    bar_chart
                </span>
                <div class="middle">
                    <div class="lef">
                        <h3>Total Compras</h3>
                        <h1>$35,989</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx='38' cy='38' r='36'>
                            </circle>
                        </svg>
                        <div class="number">
                            <p>61%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">
                Ultimas 24 Horas
                </small>
            </div>
            <div class="income">
                <span class="material-icons-Sharp">
                    stacked_line_chart
                </span>
                <div class="middle">
                    <div class="lef">
                        <h3>Total Ventas</h3>
                        <h1>$35,989</h1>
                    </div>
                    <div class="progress">
                        <svg>
                            <circle cx='38' cy='38' r='36'>
                            </circle>
                        </svg>
                        <div class="number">
                            <p>44%</p>
                        </div>
                    </div>
                </div>
                <small class="text-muted">
                Ultimas 24 Horas
                </small>
            </div>
        -->
        </div>
    </main>
    <!--FINAL de MAIN-->
    <div class="right">
        <div class="top">
            <button id="menu-btm">
                <span class="material-icons-sharp">
                    menu
                </span>
            </button>
            
            <div class="theme-toggler">
                <span class="material-icons-sharp active">
                    light_mode
                </span>
                <span class="material-icons-sharp">
                    dark_mode
                </span>
            </div>
            <div class="profile">
                <div class="info">
                    <p>Hola,<b>Juan</b></p>
                    <small class="text-muted">Admin</small>
                </div>
                <div class="profile-photo">
                    <img src="/static/assets/user.png" alt="">
                </div>
            </div>
        </div>

    </div>
    <script src="/static/scripts/home.js"></script>
</div>