{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/assets/logo.png">
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    <!--Material Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<div class="container">
    <aside>
        <div class="top">
            <div class="logo">
                <img class="logo" src="/static/assets/logo.png" alt="">
                <h2 class="title">VETERINARIA</h2>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">close</span>
            </div>
        </div>
        <div class="sidebar">
            <a href="{% url 'veterinaria_app:home' %}" class="active inicio opc">
                <span class="material-icons-sharp">
                    grid_view
                </span>
                <h3>Inicio</h3>
            </a>
            <a href="{% url 'veterinaria_app:inicio-historial' %}" class="active historial opc">
                <span class="material-icons-sharp">
                    history
                </span>
                <h3>Historial clinico</h3>
            </a>
            <a href="{% url 'ventas_app:ventas' %}" class="active btn-ventas opc">
                <span class="material-icons-sharp">
                    shopping_cart
                </span>
                <h3>inventario</h3>
            </a>
            <a href="{% url 'user_app:administrador' %}" class="active btn-ventas">
                <span class="material-icons-sharp">
                    admin_panel_settings
                </span>
                <h3>Administrador</h3>
            </a>
            <a href="{% url 'ventas_app:facturas' %}" class="active btn-ventas opc">
                <span class="material-icons-sharp">
                    monetization_on
                </span>
                <h3>Facturas</h3>
            </a>
            <br>
        </div>
    </aside>
    <!--MAIN-->
    <main>
        <div class="insights">
            <div class="sales">
                {% block content %}
                {% endblock content %}    
            </div>
        </div>
    </main>
    <!--FINAL de MAIN-->
    <div class="right">
        <div class="top">         
            <div class="theme-toggler">
                <span class="material-icons-sharp active">
                    light_mode
                </span>
                <span class="material-icons-sharp dark">
                    dark_mode
                </span>
            </div>
            {% if not user.is_anonymous %}
            <a class="salir" href="{% url 'user_app:logout' %}">
                <span class="material-icons-sharp">
                    logout
                </span>
                <h4>Salir</h4>
            </a>
            <div class="profile">
                <div class="info">
                    <p>Bienvenido<b class="user"></b></p>
                    <small class="text-muted">{{ user.correo }}</small>
                </div>
            {% else %} 
                <div class="profile-photo">
                    <a href="{% url 'user_app:login' %}"><img src="{% static 'assets/user.png' %}"></img></button>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static 'scripts/home.js' %}"></script>
</body>
</html>


