@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    overflow:visible;
    word-wrap: inherit;
}
section{
    display:flex;
}
/* --- ACTUALIZAR CARRO --- */
.producto{
    position: relative;
    top: 100%;
    left: 36%;
    width: 200%;
    font-size: 25px;
    text-align: inherit;
    font-weight: bold;
}
.actCarro{
    position: relative;
    top: 100%;
    left: 39%;
    width: 200%;
    font-size: 20px;
    color: #553CFB;
}
/* --- ESTILOS DE LA TABLA --- */
table{
    border-collapse: collapse;
    font-size: 18px;
    margin-top: 2%;
    border-radius: 12px;
    position: relative;
    top: 25em;
    top: 23em;
    left: 90%;
    margin-left: -100px;
    margin-top: 100px;
}
th{
    border: rgb(81, 81, 81) 1px solid;
    padding: 10px;
    text-align:center;
    border-right: 0px;
    border-left: 0px;
 
}
tr{
    text-align:center;
}
tr,td{
    text-align: center;
}
.total {
    width: 875%;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    left: 79%;
    top: 18%;
    display: inline-block;
    border: none;
}

/* --- GENERADOR DE FACTURA --- */
.col1{
    height: 500px;
}

.col2 {
    font-size: 20px;
    position: relative;
    left: -350%;
    top: 10px;
    margin-top: 10px;
    height: 500px;
}

.factura{
    position: relative;
    top: -9%;
    left: -7%;
    font-weight: bold;
    font-size: 25px;
    margin: 25px;
    margin: 10px;
}

button{
    position: absolute;
    top: 63%;
    left: 19%;
    margin: 20px;
    width: 40%;
    padding: 5px;
    border-radius: 5px;
    font-style: normal;
    font-size: 20px;
    line-height: 20px;
    background-color: #553CFB;
    color: aliceblue;
    border: 0px;
    margin-left: 35%;
}
label{
    color: #757575;
    text-align: left;
    font-size: 18px;
    padding: 40px !important;
    margin-top: 100px;
    height: 40px;
    width: 200px;
} 
.idFactura{
    position: absolute;
    top: -14%;
    top: -120px;
}
#id_identificacion_factura {
    position: absolute;
    top: 28px;
    left: 50%;
    margin: -13px;
    width: 320px;
    height: 40px;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 18px;
    border: 1px solid #A2ABC2;
} 
.pedidoP{
    position: absolute;
    top: -9%;
}
#id_pedido_por{
    position: absolute;
    top: 101px;
    left: 50%;
    margin: -13px;
    width: 320px;
    height: 40px;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 18px;
    border: 1px solid #A2ABC2;
}
.cde{
    position: absolute;
    top: 4%;
}
#id_cedula{
    position: absolute;
    top: 165px;
    left: 50%;
    margin: -13px;
    width: 320px;
    height: 40px;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 18px;
    border: 1px solid #A2ABC2;
}
.tele{
    position: absolute;
    top: 17%;
}
#id_telefono{
    position: absolute;
    top: 217px;
    left: 46%;
    width: 320px;
    height: 40px;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 18px;
    border: 1px solid #A2ABC2;
}
.direc{
    position: absolute;
    top: 30%;
}
#id_direccion{
    position: absolute;
    top: 282px;
    left: 46%;
    width: 320px;
    height: 40px;
    border-radius: 8px;
    padding-left: 16px;
    font-size: 18px;
    border: 1px solid #A2ABC2;
}
/* --- IMAGEN FACTURA --- */
.imagen {
    position: absolute;
    left: 210%;
    top: 30%;
}