body{
    font-family: 'Poppins', Courier, monospace;
    font-style: normal;
    line-height: 30px;
    text-align: center;
    color: #585858;
}
.titulo 
{
    color: #363949;
    font-family:'Poppins', 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 70px;

    margin-left: 0px;
    margin-right: 50px;
}
.content-fondo
{
    height:500px; /*alto*/
    width:800px; /*ancho*/
    

    display: flex;
    justify-content: center;

    /*border: 1px solid #1f1c1c;*/
    border-radius: 10px;
    /*background-color: rgb(105, 105, 105);*/
}


.campo
{
    
    height: 100px;
    width: 200x;
    padding-left: 0%;
    margin-left: 0px;
}


.campo , label
{
    padding-right: 0px;
    text-align: left;
}
.campo ,input 
{
    padding-left: 8px;
    border-radius: 5px;
    height: 25px;
    /*width: 20x;*/

}
.espacio-nombre{
    margin-left:65px;
}
.espacio-descripcion{
    margin-left:42px;
}
.espacio-precio{
    margin-left:75px;
}
.espacio-iva{
    margin-left:95px;
}
.espacio-stock{
    margin-left:80px;
}

input{

    border: 1px solid #A2ABC2;
    background: #FFFFFF;
    width: 150px;
}
.formulario
{
    height:480px; /*alto*/
    width:450px; /*ancho*/
    background-color: rgb(255, 255, 255);
    

    padding-left:0px;
    margin-left: 0px;
    margin-right: 0px;
    /*border: 1px solid #1f1c1c;*/
}
.formulario , li
{

    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    
    list-style:none;
}

.formulario , button
{
    margin-top: 40px;
}

.btn , text{

    width:260px;
    height:40px;
    border-radius: 5px;
    font-size: 18px;
    
    
    font-style: normal;
    font-size: 20px;
    line-height: 30px;

    background-color: #553CFB;
    color: aliceblue;

    border: 0px ;
    position: relative;
}

.btn:before 
{
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(21, 247, 40, 0.288);
    transition: all 1s ease;

}
.btn:hover:before 
{
    width: 100%;
}
/* ------------------------Imagen-------------------*/
.imagen-content
{
    height:300px; /*alto*/
    width: 300px;
    margin-top: 150px;
    margin-left: -50px;
    margin-right: 0px;
    /*border: 1px solid #1f1c1c;*/
}

.imagen
{
    height:300px; /*alto*/
    width: 260px; /*ancho*/
}