@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

section{
    display:flex;
}
.header{
    width: 100%;
    display: flex;
    padding: 0;
}

h2.mascotas{
    font-size: 40px;
    text-align: left;
    width: 425px;
    margin: 10px;
    text-justify: auto;
    color: rgb(81, 81, 81);
    flex-grow: 9;
}

.contenedor .btn{
    padding: 1px;
    margin: 0;
}


.contenedor .btn .agregar {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #66656551;
    background-color: transparent;
    height: 23px;
    width: 80px;
    color: #292929a5;
    font-size: 12px;
    box-shadow: 0 6px 6px rgba(198, 192, 192, 0.6);
}
.agregar:hover{
    background: #66656587;
}

.btn{
    padding:10px;
    padding-top:20px;
    flex-grow:3;
}

.agregar{
    padding:1.5%;
    margin-right: 4%;
    font-size: 17px;
    border:2px solid #BEBEBE;
    border-radius:7px;
    background-color:#f6f6f9;
}
.header{
    width: 100%;
    display: inline-flex;
    padding: 0;
}
table{
    width:fit-content;
    font-size: 16px;
    margin-top: 2%;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 12px;
}
th{
    text-align:left;
    font-size: 14px;
    color: rgb(81, 81, 81);
    border-right: 0px;
    border-left: 0px;
}

td{
    text-align:left;
    font-size: 17px;
}
td,th{
    padding-left: 20px;
    padding-right: 20PX;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pagination {
    display: inline-block;
  }

.center {
    text-align: center;
}
.buscar{
    position: absolute;
    padding: 5px; 
    height: 60px;
}
.lupa{
    width: 17%;
    position: absolute;
    top: 1px;
    right: -28px;
    cursor: pointer;
}

.t{
    height: 26px;
    border-style: solid;
    border-width: 1px;
    padding-left: 0.5rem;
}
  
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #7380ec;
    color: white;
    border: 1px solid #7380ec;
  }
  
  .pagination a:hover:not(.active) {
    background-color: #7380ec;
    color: white;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #7380ec;
    color: white;
    margin-bottom: 10px;
    font-size: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 10px;
    cursor: pointer;
    transition: 0.3s;
  }

  