*{
    font-family: 'Poppins', Courier, monospace;
    font-style: normal;
}
body{
    
    line-height: 30px;
    text-align: center;
    color: #585858;
}

/*Quitar flechas de number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

.titulo 
{
    color: #363949;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 70px;

    margin-left: 0px;
    margin-right: 75px;
}

.content-fondo
{
    height:500px; /*alto*/
    width:800px; /*ancho*/
    display: flex;
    justify-content: center;
    margin:auto;
    margin-top:5%;
    border-radius: 10px;
}


.campo
{
    width: 200x;
    padding-left: 0%;
    margin-left: 0px;
}

.campo , label
{
    padding-right: 10px;
    text-align: left;
    padding-bottom: 5em;
}

label{
    display: inline-block;
    width: 80px;
  }

.campo ,input 
{
    padding-left: 8px;
    border-radius: 5px;
    height: 40px;

}

#descripcion
{
    vertical-align: top;
}

#id_descripcion
{
    border: 1px solid #A2ABC2;
    background: #FFFFFF;
    width: 150px;
    border-radius: 5px;
    resize: none;
    padding: 10;
    height: 3.5em;
    width: 11.2em;
}


input{
    border: 1px solid #A2ABC2;
    background: #FFFFFF;
    width: 150px;
}

.formulario
{
    height:480px; /*alto*/
    width:600px; /*ancho*/  
}

#formularioVentas
{
    padding-left: 7em;
}

.formulario , button
{
    margin-top: 40px;
}

.btn , text{
    width:260px;
    height:40px;
    border-radius: 5px;
    font-size: 18px;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    background-color: #553CFB;
    color: aliceblue;
    border: 0px ;
}


/* ------------------------Imagen-------------------*/
.imagen-content
{
    height:200px; /*alto*/
    width: 200px;
    margin-top: 90px;
    margin-left: -50px;
    margin-right: 0px;
}

.imagen
{
    height:300px; /*alto*/
    width: 260px; /*ancho*/
}

.Ventanae{
    top: 230px;
    background: #ffffff;
    width: 28%;
    color:rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 33px;
    min-height: 200px;
    border-radius: 22px;
    position: absolute;
    left: 40%;
    border:1px solid rgb(0, 0, 0);
    opacity:8;
    transition: all 5s;
    display: block;
}

#Confirmar{
    padding: 1.5%;
    margin-right: 4%;
    font-size: 15px;
    border: 2px var(--color-light);
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    background-color: #553CFB;
    color: aliceblue;
}

.alertE{
    position: relative;
    width: 205px;
    height: 36px;
    vertical-align:middle;
    border-radius: 10px;
    top: -4px;
    left: 511px;
    background: #f5c2c7;
}
#alet{
    position: relative;
    top: -1px;
    left: 149px;
    width: 40px;
    height: 40px;
}
#mensajeE{
    position: relative;
    top: -34px;
    left: -53px;
}